<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Dialogs</title>
</head>
<body>
  <header>
    <div class="logo">
      <img src="../static/src/foxnet.png" alt="LOGO">
      <h1>Foxnet</h1>
    </div>
    <div class="notificButtons">
      <img src="../static/src/people.png" alt="PEOPLE">
      <img src="../static/src/nontification.png" alt="NONTIFICATION">
    </div>
    <div class="searchWrap">
      <input type="text" class='search' placeholder="Search">
    </div>
    <div class="profileLogo">
      <i>&equiv;</i>
      <h3>Вениамин Аноним</h3>
      <img src="../static/src/profilePhoto.jpg" alt="PHOTO">
    </div>
  </header>
  <section class='dialogWrap'>
    <div class="dialogList">
      <div class="dialog dialogActive">
        <div class="dialogProfileInfo">
          <img src="../static/src/profilePhoto.jpg" alt="PHOTO">
          <h4>Кот Василий</h4>
        </div>
        <p class="message">Мяу!<span class='messageTime'>13:35</span></p>
      </div>
      <div class="dialog">
        <div class="dialogProfileInfo">
          <img src="../static/src/profilePhoto.jpg" alt="PHOTO">
          <h4>Кот Евгений</h4>
        </div>
        <p class="message">Мяу!<span class='messageTime'>12:35</span></p>
      </div>
      <div class="dialog">
        <div class="dialogProfileInfo">
          <img src="../static/src/profilePhoto.jpg" alt="PHOTO">
          <h4>Такса Сережа</h4>
        </div>
        <p class="message">Гав!<span class='messageTime'>11:35</span></p>
      </div>
      <div class="dialog">
        <div class="dialogProfileInfo">
          <img src="../static/src/profilePhoto.jpg" alt="PHOTO">
          <h4>Кот Альберт</h4>
        </div>
        <p class="message">Мяу!<span class='messageTime'>10:35</span></p>
      </div>
      <div class="dialog">
        <div class="dialogProfileInfo">
          <img src="../static/src/profilePhoto.jpg" alt="PHOTO">
          <h4>Хомяк Рома</h4>
        </div>
        <p class="message">Фыр!<span class='messageTime'>9:35</span></p>
      </div>
      <div class="dialog">
        <div class="dialogProfileInfo">
          <img src="../static/src/profilePhoto.jpg" alt="PHOTO">
          <h4>Лось Игорь</h4>
        </div>
        <p class="message">???<span class='messageTime'>8:35</span></p>
      </div>
      <div class="dialog">
        <div class="dialogProfileInfo">
          <img src="../static/src/profilePhoto.jpg" alt="PHOTO">
          <h4>Павук Влад</h4>
        </div>
        <p class="message">Шшш!<span class='messageTime'>7:35</span></p>
      </div>
      <div class="dialog">
        <div class="dialogProfileInfo">
          <img src="../static/src/profilePhoto.jpg" alt="PHOTO">
          <h4>Павук Влад</h4>
        </div>
        <p class="message">Шшш!<span class='messageTime'>7:35</span></p>
      </div>
      <div class="dialog">
        <div class="dialogProfileInfo">
          <img src="../static/src/profilePhoto.jpg" alt="PHOTO">
          <h4>Павук Влад</h4>
        </div>
        <p class="message">Шшш!<span class='messageTime'>7:35</span></p>
      </div>
    </div>
    <div class="dialogMessages">
      <div class="messageProfileInfo">
        <img src="../static/src/profilePhoto.jpg" alt="PHOTO">
        <h4>Кот Василий</h4>
      </div>
      <p class='isOnline'>online</p>
      <div class="dialogBlock">
        <div class='yourMessage'><p>Мяу!</p> <span class='messageTime'>13:01</span></div>
        <div class='interlocutorMessage'><p>Мяу мяу..</p><span class='messageTime'>13:09</span></div>
        <div class='yourMessage'><p>мяу?</p><span class='messageTime'>13:10</span></div>
        <div class='yourMessage'><p>МЯУ</p><span class='messageTime'>13:10</span></div>
        <div class='interlocutorMessage'><p>Мяумяумяу</p><span class='messageTime'>13:11</span></div>
        <div class='interlocutorMessage'><p>Мяяяяяяяу</p><span class='messageTime'>13:32</span></div>
        <div class='yourMessage'><p>Мяу, мяу?</p><span class='messageTime'>13:33</span></div>
        <div class='interlocutorMessage'><p>Мяу.</p><span class='messageTime'>13:33</span></div>
        <div class='yourMessage'><p>Мяууу</p><span class='messageTime'>13:34</span></div>
        <div class='interlocutorMessage'><p>Мяу!</p><span class='messageTime'>13:35</span></div>
        <div class='interlocutorMessage'><p>Мяу!</p><span class='messageTime'>13:35</span></div>
        <div class='interlocutorMessage'><p>МЯУ!</p><span class='messageTime'>13:35</span></div>
        <div class='interlocutorMessage'><p>Гав!</p><span class='messageTime'>13:35</span></div>
        <div class='yourMessage'><p>0_0</p><span class='messageTime'>13:35</span></div>
        <div class='interlocutorMessage'><p>Мяу!</p><span class='messageTime'>13:35</span></div>
      </div>
      <input type="text" placeholder="Inter your message" class='messageInput'>
    </div>
  </section>
</body>
</html>
