*{
  margin: 0;
  padding: 0;
  outline: none;
}
body{
  margin: 0;
  color: #fff;
  padding: 0;
  font-family: Arial;
  height: 100vh;
  background: url(./pics/escheresque_ste.png) left top repeat;
  overflow: hidden;
}
.singWrap{
  display: flex;
  align-items: center;
  height: 100vh;
  max-height:100%;
  justify-content: center;
}
.autorisationWrap{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 460px;
  width: 300px;
  background: #fff;
  border-radius: 10px;
}
.autorisationWrap h1{
  margin-top: 50px;
  color: #4f3382;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}
.autorisationWrap img{
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.loginData{
  width:225px;
  height:40px;
  margin-bottom: 20px;
  border: 0px solid #fff;
  background: #e6e6e6;
  padding-left: 20px;
  border-radius: 5px;
}
.serviceButtons{
  display: flex;
  font-size: 12px;
  margin-bottom: 30px;
}
.autorisationWrap #remember{
  display: flex;
  margin-right: 90px;
  color: #a2a2a2;
}
#remember p{
  padding-left: 10px;
}
.loginFuncs{
  font-size: 12px;
  color: #3333ff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  transition: .2s;
}
.loginFuncs:hover{
  border-bottom: 1px solid #3333ff;
}
.logInput{
  width: 220px;
  height: 40px;
  border: 0 solid #fff;
  background-color: #503484;
  color: #fff;
  border: 1px solid #503484;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: .2s;
}
.logInput:hover{
  color: #503484;
  background-color: #fff;
}
.logInput:focus{
  outline: none;
}
.registr{
  height: 520px;
}
.registr h1{
  margin-bottom: 50px;
}
.selectDateWrap{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 245px;
}
.selectDate{
  color: #fff;
  border: 1px solid #6d48b0;
  border-radius: 5px;
  height: 25px;
  background: #6d48b0;
}
.selectDate:focus{
  outline: none;
}
header{
  display: flex;
  justify-content: center;
  width: 100vw;
  background: #4f3382;
  height: 50px;
}
header img{
  margin-right: 20px;
  width: 50px;
  height: 40px;
  padding-left: 20px;
}
.logo{
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border-right: 1px solid #342255;
  width:300px;
  height: 50px;
  cursor: pointer;
}
.notificButtons{
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #342255;
  width: 200px;
  height: 50px;
}
.notificButtons img{
  cursor: pointer;
  width: 40px;
  height: 30px;
}
.searchWrap{
  display: flex;
  align-items: center;
  height: 50px;
  width:500px;
  border-right: 1px solid #342255;
}
.search{
  color: #6d48b0;
  font-weight: 400;
  border: 0px solid #fff;
  padding-left: 10px;
  margin-left: 20px;
  display: flex;
  background-color: #342255;
  border-radius: 30px;
  width: 300px;
  height: 30px;
  align-items: center;
  transition: background .2s;
}
.search:focus{
  background: #fff;
  outline: none;
}
.profileLogo{
  display: flex;
  width:350px;
  height: 50px;
  justify-content: flex-end;
  align-items: center;
}
.profileLogo i{
  margin-right: 15px;
  font-size: 20px;
  cursor: pointer;
}
.profileLogo img{
  cursor: pointer;
}
.profileLogo h3{
  font-size: 16px;
}
.dialogWrap{
  width: 1250px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
.dialogList{
  border-radius: 10px;
  background: #232323;
  width: 270px;
  height: 510px;
  overflow: scroll;
  overflow-x: hidden;
}
.dialogProfileInfo{
  height: 40px;
  display: flex;
}

.dialogMessages{
  border-radius: 10px;
  background: #232323;
  width: 900px;
}
.dialog{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 70px;
  border-bottom: 1px solid #353535;
}
.dialogActive{
  background: #3e2a64;
}
.dialog h4{
  margin-top: 15px;
  margin-left: 5px;
}
.dialog .message{
  margin-left: 75px;
}
.dialog .message {
  font-size: 14px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}
.dialog .message span{
  font-size: 12px;
}
.dialog img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}
.messageProfileInfo{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 240px;
  height: 30px;
}
.messageProfileInfo img{
  width: 80px;
  height: 80px;
  border-radius: 5px;
}
.messageProfileInfo h4{
  margin-top: 5px;
  font-size: 20px;
}
.isOnline{
  font-size: 12px;
  margin-left: 105px;
}
.dialogBlock{
  overflow: scroll;
  overflow-x: hidden;
  background: #202020;
  width: 650px;
  height: 370px;
  margin-top: 30px;
  margin-left: 130px;
  border: 2px solid #353535;
  border-radius: 15px;
}
.dialogBlock div{
  height: auto;
  margin-top:5px;
  display: flex;

}
.dialogBlock div:first-child{
  margin-top: 10px;
}
.dialogBlock div:last-child{
  margin-bottom: 10px;
}
.dialogBlock p{
  text-align: left;
  height: auto;
  color: #fff;
  resize: none;
  padding-top: 5px;
  background: #4f3382;
  border-radius: 15px;
  border: 1px solid #000;
  max-width: 250px;
  word-wrap: break-word;
}
.dialogBlock .yourMessage{
  justify-content: flex-end;
  margin-right: 5px;
}
.dialogBlock .interlocutorMessage p{
  justify-content: flex-start;
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.dialogBlock .yourMessage p{
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
}
.dialogBlock span{
  padding-top: 10px;
  padding-left: 5px;
  font-size: 10px;
}
.messageInput{
  padding-left: 10px;
  border-radius: 20px;
  border: 1px solid #353535;
  background: #202020;
  width: 605px;
  height: 25px;
  margin-top: 10px;
  margin-left: 130px;
  transition: background .2s;
}
.messageInput:focus{
  background: #fff;
  outline: none;
}
.sendMessage{
  margin-left: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
}
.sendMessage img{
  position: relative;
  top:5px;
  width: 25px;
  height: 25px;
}
/*.littleDialog{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 10px;
  bottom: 0;
  background: #232323;
  width: 250px;
  height: 400px;
}
.littleDialogProfileInfo{
  margin-top: 5px;
  border-radius: 5px;
  background: #4f3382;
  width: 230px;
  height: 20px;
}*/
.popupWrap{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.backgroundPopup{
  position: absolute;
  background: #000;
  opacity: 0.8;
  width: 5000px;
  height: 5000px;
}
.popup{
  position: relative;
  height: 400px;
  width: 500px;
  background: #232323;
  border: 1px solid #353535;
}
.popupProfileInfo{
  display: flex;
  align-items: center;
  width: 500px;
  height: 70px;
  background: #4f3382;
}
.popupProfileInfo img{
  margin-left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.popupProfileInfo div{
  margin-left: 10px;
}
.popupProfileInfo h4{
  font-size: 22px;
}
.popupProfileInfo span{
  font-size: 12px;
}
.popupMessage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popupMessage textarea{
  resize: none;
  padding-left: 5px;
  color: #fff;
  font-size: 18px;
  border: 1px solid #353535;
  margin-top: 20px;
  width: 470px;
  height: 250px;
  background: #202020;
}
.popupMessage textarea:focus{
  outline: none;
}
.popupMessage button{
  background: #202020;
  color: #fff;
  border: 1px solid #353535;
  width: 100px;
  height: 40px;
  font-size: 18px;
  margin-top: 10px;
  transition: .2s;
}
.popupMessage button:focus{
  outline: none;
}
.popupMessage button:hover{
  color: #000;
  background: #fff;
}
::-webkit-scrollbar-button {
width:5px;
height:0px;
}

::-webkit-scrollbar-track {
background-color:#444;
}

::-webkit-scrollbar-thumb {
background-color:#4f3382;
}

::-webkit-scrollbar{
width: 2px;
}
@media screen and (min-height: 1000px){
  .autorisationWrap{
    width: 600px;
  }
  .autorisationWrap h1{
    font-size: 40px;
  }
  .logInput{
    font-size: 40px !important;
    width: 270px !important;
    height: 60px !important;
  }
  .loginData{
    font-size: 20px;
    width: 500px;
  }
  .selectDateWrap{
    width: 520px;
    justify-content: center;
  }
  .selectDate{
    margin-left: 20px;
  }
  .serviceButtons{
    font-size: 20px;
    align-items: center;
  }
  .loginFuncs{
    font-size: 20px !important;
  }
}
