*{
  margin: 0;
  padding: 0;
  outline: none;
}
a{
  text-decoration: none;
  color: #fff;
}
body{
  margin: 0;
  color: #fff;
  padding: 0;
  font-family: Arial;
  height: 100vh;
  background: url(./pics/escheresque_ste.png) left top repeat;
  overflow: hidden;
}
.singWrap{
  display: flex;
  align-items: center;
  height: 100vh;
  max-height:100%;
  justify-content: center;
}
.autorisationWrap{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 460px;
  width: 300px;
  background: #fff;
  border-radius: 10px;
}
.autorisationWrap h1{
  margin-top: 50px;
  color: #4f3382;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}
.autorisationWrap img{
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.loginData{
  width:225px;
  height:40px;
  margin-bottom: 20px;
  border: 0px solid #fff;
  background: #e6e6e6;
  padding-left: 20px;
  border-radius: 5px;
}
.serviceButtons{
  display: flex;
  font-size: 12px;
  margin-bottom: 30px;
}
.autorisationWrap #remember{
  display: flex;
  margin-right: 90px;
  color: #a2a2a2;
}
#remember p{
  padding-left: 10px;
}
.loginFuncs{
  font-size: 12px;
  color: #3333ff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  transition: .2s;
}
.loginFuncs:hover{
  border-bottom: 1px solid #3333ff;
}
.logInput{
  width: 220px;
  height: 40px;
  border: 0 solid #fff;
  background-color: #503484;
  color: #fff;
  border: 1px solid #503484;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: .2s;
}
.logInput:hover{
  color: #503484;
  background-color: #fff;
}
.logInput:focus{
  outline: none;
}
.registr{
  height: 520px;
}
.registr h1{
  margin-bottom: 50px;
}
.selectDateWrap{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 245px;
}
.selectDate{
  color: #fff;
  border: 1px solid #6d48b0;
  border-radius: 5px;
  height: 25px;
  background: #6d48b0;
}
.selectDate:focus{
  outline: none;
}
header{
  z-index: 100;
  display: flex;
  justify-content: center;
  width: 100vw;
  background: #4f3382;
  height: 50px;
}
header img{
  margin-right: 20px;
  width: 45px;
  height: 45px;
  padding-left: 20px;
}
.logo{
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width:300px;
  height: 50px;
  cursor: pointer;
}
.logo:hover{
  background: #462e72;
}
.notificButtons{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
}
.notificButtons button{
  cursor: pointer;
  background: transparent;
  border: none;
  height: 50px;
}
.notificButtons button:hover{
  background: #462e72;
}
.notificButtons img{
  width: 40px;
  height: 30px;
}
.pagesList{
  display: flex;
  justify-content: center;
  width: 450px;
}
.pagesList ul{
  width: 450px;
  justify-content: space-around;
  margin-left: 20px;
  display: flex;
  list-style: none;
}
.pagesList button{
  width: 70px;
  color: #fff;
  background: transparent;
  border: none;
  height: 50px;
  cursor: pointer;
  margin-left: 10px;
}
.pagesList a{
  color: #fff;
  text-decoration: none;
}
.pagesList button:hover{
  background: #462e72;
}
.profileLogo{
  display: flex;
  width:300px;
  height: 50px;
  justify-content: flex-end;
  align-items: center;
}
.profileLogo label{
  z-index: 100;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width:200px;
  height: 50px;
}
.profileLogo label:hover{
  background: #462e72;
}
.profileLogo i{
  margin-right: 15px;
  font-size: 20px;
  cursor: pointer;
}
.profileLogo img{
  margin-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}
.profileLogo h3{
  font-size: 16px;
}
.settingsHeader{
  position: absolute;
  width: 1120px;
}
.settingsHeader ul{
  z-index: 0;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  width: 195px;
  background: #4f3382;
  position: absolute;
  right: 0px;
  transition: .5s;
  top:-200px;
}
.settingsHeader a{
  text-decoration: none;
  color: #fff;
  width: 195px;
  margin-top: 10px;
  height: 30px;
  text-align: center;
}
.settingsHeader li:first-child{
  margin: 0;
  padding: 0;
  border-top: none;
}
.settingsHeader li{
  cursor: pointer;
  border-top: 1px solid #fff;
  width: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  list-style: none;
}
.settingsHeader li:last-child{
  flex-direction: column;
  height: 70px;
}
.settingsHeader li:hover{
  background: #462272;
}
#fakemode{
  align-items: center;
  margin: 10px;
  width: 150px;
  height: 25px;
  background: #fff;
  border-radius: 20px;
}
#fakemode div{
  position: relative;
  left: 3px;
  top: 2px;
  border-radius: 20px;
  background: #000;
  width: 35px;
  height: 22px;
  transition: .3s;
}
.dialogWrap{
  width: 1250px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
.dialogList{
  border-radius: 10px;
  background: #232323;
  width: 270px;
  height: 82vh;
  overflow: scroll;
  overflow-x: hidden;
}
.dialogList h3{
  margin: 10px;
  font-size: 18px;
  color: darkgrey;
}
.dialogProfileInfo{
  height: 40px;
  display: flex;
}

.dialogMessages{
  border-radius: 10px;
  background: #232323;
  width: 900px;
  height: 82vh;
}
.dialog{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 70px;
  border-bottom: 1px solid #353535;
}
.dialogActive{
  background: #3e2a64;
}
.dialog h4{
  margin-top: 15px;
  margin-left: 5px;
}
.dialog .message{
  margin-left: 75px;
}
.dialog .message {
  font-size: 14px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}
.dialog .message span{
  font-size: 12px;
}
.dialog img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}
.messageProfileInfo{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 240px;
  height: 30px;
}
.messageProfileInfo img{
  width: 80px;
  height: 80px;
  border-radius: 5px;
}
.messageProfileInfo h4{
  margin-top: 5px;
  font-size: 20px;
}
.isOnline{
  font-size: 12px;
  margin-left: 105px;
}
.dialogBlock{
  overflow: scroll;
  overflow-x: hidden;
  background: #202020;
  width: 650px;
  height: 60vh;
  margin-top: 30px;
  margin-left: 130px;
  border: 2px solid #353535;
  border-radius: 15px;
}
.dialogBlock div{
  height: auto;
  margin-top:5px;
  display: flex;

}
.dialogBlock div:first-child{
  margin-top: 10px;
}
.dialogBlock div:last-child{
  margin-bottom: 10px;
}
.dialogBlock p{
  text-align: left;
  height: auto;
  color: #fff;
  padding-top: 5px;
  background: #4f3382;
  border-radius: 15px;
  border: 1px solid #000;
  max-width: 250px;
  word-wrap: break-word;
}
.dialogBlock .yourMessage{
  justify-content: flex-end;
  margin-right: 5px;
}
.dialogBlock .interlocutorMessage p{
  justify-content: flex-start;
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.dialogBlock .yourMessage p{
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
}
.dialogBlock span{
  padding-top: 10px;
  padding-left: 5px;
  font-size: 10px;
}
.messageInput{
  position: relative;
  margin-top: 2vh;
  padding-top: 0px;
  resize: none;
  color: #fff;
  padding-left: 10px;
  border-radius: 20px;
  border: 1px solid #353535;
  background: #202020;
  width: 605px;
  min-height: 25px;
  margin-left: 130px;
  transition: background .2s;;
}
.messageInput::placeholder{
  color: #fff;
}
.messageInput:focus{
  background: #fff;
  outline: none;
  color: #000;
}
.sendMessage{
  margin-left: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
}
.sendMessage img{
  margin-top: 2vh;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
}
/*.littleDialog{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 10px;
  bottom: 0;
  background: #232323;
  width: 250px;
  height: 400px;
}
.littleDialogProfileInfo{
  margin-top: 5px;
  border-radius: 5px;
  background: #4f3382;
  width: 230px;
  height: 20px;
}*/
.popupWrap{
  position: absolute;
  display: none;
  width: 100vw;
  height: 85vh;
  justify-content: center;
  align-items: center;
}
.backgroundPopup{
  z-index: 100;
  position: absolute;
  background: #000;
  opacity: 0.8;
  width: 5000px;
  height: 5000px;
}
.popup{
  position: relative;
  z-index: 101;
  height: 400px;
  width: 500px;
  background: #232323;
  border: 1px solid #353535;
}
.popupUserName{
  display: flex;
  align-items: center;
  width: 500px;
  height: 70px;
  background: #4f3382;
}
.popupUserName img{
  margin-left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.popupUserName button{
  margin-left: 180px;
  margin-bottom: 25px;
  border: 1px solid #232323;
  background: #353535;
  color: #fff;
  width: 30px;
  height: 30px;
  transition: .2s;
}
.popupUserName button:hover{
  color: #000;
  background: #fff;
}
.popupUserName div{
  margin-left: 10px;
}
.popupUserName h4{
  font-size: 22px;
}
.popupUserName span{
  font-size: 12px;
}
.popupProfileInfo{
  margin: 10px;
}
.popupProfileInfo h3{
  border-bottom: 1px solid #353535;
  margin-top: 20px;
  font-size: 16px;
  font-weight: normal;
}
.popupMessage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popupMessage textarea{
  resize: none;
  padding-left: 5px;
  color: #fff;
  font-size: 18px;
  border: 1px solid #353535;
  margin-top: 20px;
  width: 470px;
  height: 250px;
  background: #202020;
}
.popupMessage textarea:focus{
  outline: none;
}
.popupMessage button{
  background: #202020;
  color: #fff;
  border: 1px solid #353535;
  width: 100px;
  height: 40px;
  font-size: 18px;
  margin-top: 10px;
  transition: .2s;
}
.popupMessage button:focus{
  outline: none;
}
.popupMessage button:hover{
  color: #000;
  background: #fff;
}
.profile{
  margin: 0 auto;
  justify-content: space-around;
  width: 1250px;
  display: flex;
  margin-top: 30px;
}
.profileInfoWrap{
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #232323;
  width: 300px;
  height: 83vh;
}
.profileInfo{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 500px;
}
.profileInfo img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
.profileInfoButtons{
  display: flex;
  flex-direction: column;
}
.profileInfoButtons button{
  color: #fff;
  width: 200px;
  height: 30px;
  margin-top: 20px;
  border: none;
  background: #4f3382;
  border: 1px solid #353535;
  border-radius: 10px;
  transition: .5s;
}
.profileInfoButtons button:hover{
  background: #fff;
  color: #4f3382;
}
.profileWallWrap{
  overflow: scroll;
  overflow-x: hidden;
  width:700px;
  height: 83vh;
}
.profilePhotos{
  display: flex;
  overflow: hidden;
  background: #232323;
  width: 700px;
  height: 100px;
}
.profilePhotos img{
  padding: 10px;
  width: 80px;
  height: 80px;
}
.profileWall{
  background: #232323;
  width: 700px;
  min-height: 100px;
  margin-top: 15px;
  overflow: scroll;
  overflow-x: hidden;
}
.profileWall > img{
  margin: 10px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.profileWallText{
  margin: 0 auto;
  width: 600px;
  align-items: center;
  flex-direction: column;
  margin-bottom: 7px;
}
.profileWallText div{
  display: flex;
  justify-content: center;
  height: auto;
  align-items: flex-start;
}
.profileWallText img{
  margin: 0 auto;
  margin-top: 20px;
  max-width: 430px;
}
.profileWallText p{
  word-break: break-all;
  height: auto;
  max-width: 650px;
  font-size: 14px;
}
.addPost{
  margin-top: 20px;
  width: 700px;
  background: #232323;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.addPost textarea{
  padding-top: 10px;
  padding-left: 10px;
  border: 1px solid #fff;
  height: 20px;
  resize: none;
  width: 610px;
  background: #353535;
  border: none;
  border-radius: 10px;
  color: #fff;
  transition: .2s;
}
.addPost textarea:focus{
  color: #4f3382;
  background: #fff;
}
.addPost button{
  border-radius: 20px;
  border: 1px solid #fff;
  color:#fff;
  background: #232323;
  width: 50px;
  height: 25px;
  transition: .2s;
}
.addPost button:hover{
  color: #4f3382;
  background: #fff;
}
.assessmentButtons{
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  height: 60px;
}
.assessmentButtons button{
  height: 50px;
  width: 60px;
  border: none;
  background: transparent
}
.assessmentButtons button:hover{
  background: #121212;
}
.assessmentButtons span{
  color: #fff;
}
.assessmentButtons button img{
  width: 20px;
  height: 25px;
  margin: 0;
  padding: 0;
}
.friends{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.friendsWrap{
  height: 78vh;
  overflow: scroll;
  overflow-x: hidden;
}
.friendSearch{
  margin-bottom: 10px;
  border-radius: 10px;
  background: #232323;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}
.friendSearch input{
  border: none;
  border-radius: 50px;
  background: #353535;
  height: 35px;
  width: 450px;
  margin: 5 auto;
  padding: 0px 5px;
  color: #fff;
}
.friendSearch input::placeholder{
  color: #fff;
}
.friendWrap{
  display: flex;
  border-radius: 10px;
  margin-top: 20px;
  background: #232323;
  width: 500px;
}
.friendWrap:first-child{
  margin-top: 0px;
}
.friendInfo{
  margin-left: 20px;
  width: 250px;
  display: flex;
}
.friendInfo div{
  margin-left: 20px;
}
.friendInfo img{
  width: 50px;
  height: 60px;
}
.friendButtons{
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 250px;
}
.friendButtons img{
  width: 20px;
  height: 20px;
}
.friendButtons button{
  width: 50px;
  height: 60px;
  background: transparent;
  border: none;
  color: #fff;
}
.friendButtons button:hover{
  background: #121212;
}
.settingsWrap{
  background: #232323;
  width: 1100px;
  height: 90vh;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items:flex-start;
  border-radius: 10px;
}
.settingsBlock{
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  background: #353535;
  width: 600px;
  height: 540px;
  border-radius: 10px;
}
.settingsNav{
  margin-top: 5vh;
  border-radius: 10px;
  background: #353535;
  width: 250px;
}
.settingsNav ul{
  list-style: none;
}
.settingsNav li{
  padding-top: 10px;
  padding-left: 10px;
  font-size: 18px;
  height: 30px;
  width: 240px;
  border-bottom: 1px solid #fff;
}
.settingsNav li:last-child{
  border-bottom: none;
}
#activeSetting{
  color: #353535;
  background: #fff;
  border-radius: 10px 10px 0 0;
}
.settings{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #232323;
  width: 450px;
}
.settings *{
  margin-top: 30px;
}
.settings input:first-child{
  margin-top: 40px;
}
.settings > input{
  padding-left: 10px;
  height: 30px;
  width: 250px;
  border-radius: 20px;
  border: none;
}
.settings .gender{
  margin-top: 0px;
}
.settings label{
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #fff;
}
.settings label:first-child{
  margin-right: 40px;
}
.settings label input{
  margin: 0;
  width: 15px;
}
.settings input[type="submit"]{
  background: #353535;
  color: #fff;
  border: 1px solid #fff;
  padding: 0;
  transition: .2s;
}
.settings input[type="submit"]:hover{
  color: #000;
  background: #fff;
}
.settings .selectDate{
  margin: 15px;
  background: #fff;
  color: #000;
  border: none;
}
::-webkit-scrollbar-button {
  width:5px;
  height:0px;
}

::-webkit-scrollbar-track {
  background-color:#444;
}

::-webkit-scrollbar-thumb {
  background-color:#4f3382;
}

::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}
@media screen and (min-height: 1000px){
  .autorisationWrap{
    width: 600px;
  }
  .autorisationWrap h1{
    font-size: 40px;
  }
  .logInput{
    font-size: 40px !important;
    width: 270px !important;
    height: 60px !important;
  }
  .loginData{
    font-size: 20px;
    width: 500px;
  }
  .selectDateWrap{
    width: 520px;
    justify-content: center;
  }
  .selectDate{
    margin-left: 20px;
  }
  .serviceButtons{
    font-size: 20px;
    align-items: center;
  }
  .loginFuncs{
    font-size: 20px !important;
  }
}
